<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xxxl-6">
        <button (click)="openWindow()" nbButton style="width: 100px">+</button>
      </div>
    </div>

    <nb-card>
      <nb-card-header class="text-center">
        List of Project
      </nb-card-header>
      <nb-card-body >
        <ng2-smart-table class="full-width text-center"
            (custom)="onCustom($event)"
            [settings]="settings"
            [source]="source"
            (editConfirm)="editProject($event)"
            (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>